<main class="index">
  <!-- HERO -->
  <section id="hero" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold display-1">BIENVENIDO A BARBER
            SHOP - B&K</h1>
          <h5 class="text-white mt-3 mb-4 subtitle_barbershop" data-aos="fade-right">Somos un equipo de
            talentosos barberos y
            estilistas profesionales que buscan el mejor estilo de ti.</h5>
          <div data-aos="fade-up" data-aos-delay="50">
            <a href="#calendar" class="btn btn-brand me-2">Calendario</a>
            <a href="#portfolio" class="btn btn-light ms-2">Portafolio</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ABOUT -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
          <div class="section-title">
            <h1 class="display-4 fw-semibold">Sobre nosotros</h1>
            <div class="line"></div>
            <p>Nos encanta crear nuevas experiencias para nuestros clientes, donde se sientan cómodos con su
              nueva imagen o mantengan su increíble estilo.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6" data-aos="fade-down" data-aos-delay="50">
          <img src="/img/about.jpg" alt="">
        </div>
        <div data-aos="fade-down" data-aos-delay="150" class="col-lg-5">
          <h1>Sobre Barber Shop</h1>
          <p class="mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quo reiciendis
            ad.</p>
          <div class="d-flex pt-4 mb-3">
            <div class="iconbox me-4">
              <i class="ri-mail-send-fill"></i>
            </div>
            <div>
              <h5>Lorem ipsum.</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quo reiciendis ad.</p>
            </div>
          </div>
          <div class="d-flex mb-3">
            <div class="iconbox me-4">
              <i class="ri-user-5-fill"></i>
            </div>
            <div>
              <h5>Lorem ipsum.</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quo reiciendis ad.</p>
            </div>
          </div>
          <div class="d-flex">
            <div class="iconbox me-4">
              <i class="ri-rocket-2-fill"></i>
            </div>
            <div>
              <h5>Lorem ipsum.</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quo reiciendis ad.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TEAM -->
  <section id="team" class="section-padding  border-top">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
          <div class="section-title">
            <h1 class="display-4 fw-semibold">Miembros del equipo.</h1>
            <div class="line"></div>
            <p>Nuestro equipo de profesionales está preparado para asesorarle y ofrecerle el mejor servicio.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-4 text-center ">
        <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
          <div class="team-member image-zoom">
            <div class="image-zoom-wrapper">
              <img src="/img/person-1.jpg" alt="">
            </div>
            <div class="team-member-content">
              <h4 class="text-white">Jon Doe</h4>
              <p class="mb-0 text-white">Barbero</p>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
          <div class="team-member image-zoom">
            <div class="image-zoom-wrapper">
              <img src="/img/person-2.jpg" alt="">
            </div>
            <div class="team-member-content">
              <h4 class="text-white">Jon Doe</h4>
              <p class="mb-0 text-white">Barbero</p>
            </div>
          </div>
        </div>
        <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
          <div class="team-member image-zoom">
            <div class="image-zoom-wrapper">
              <img src="/img/person-3.jpg" alt="">
            </div>
            <div class="team-member-content">
              <h4 class="text-white">Jon Doe</h4>
              <p class="mb-0 text-white">Barbero</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- SERVICES -->
  <section id="services" class="section-padding border-top">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
          <div class="section-title">
            <h1 class="display-4 fw-semibold">Increíbles servicios </h1>
            <div class="line"></div>
            <p>Lo mejor de nuestros servicios:</p>
          </div>
        </div>
      </div>
      <div class="row g-4 text-center">
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
          <div class="service theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-pen-nib-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Servicios test</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat sunt distinctio?</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
          <div class="service theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-stack-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Servicios test</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat sunt distinctio?</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
          <div class="service theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-ruler-2-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Servicios test</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat sunt distinctio?</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="450">
          <div class="service theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-pie-chart-2-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Servicios test</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat sunt distinctio?</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="550">
          <div class="service theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-code-box-line"></i>
            </div>
            <h5 class="mt-4 mb-3">Servicios test</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat sunt distinctio?</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="650">
          <div class="service theme-shadow p-lg-5 p-4">
            <div class="iconbox">
              <i class="ri-user-2-fill"></i>
            </div>
            <h5 class="mt-4 mb-3">Servicios test</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugiat sunt distinctio?</p>
          </div>
        </div>
      </div>
    </div>
  </section>

      <!-- CALENDAR -->
    <section id="calendary" class="section-padding border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold"> Calendario. </h1>
                        <div class="line"></div>
                        <p>Reserve una cita para nuestros servicios:</p>
                        <p>( Seleccione el día y la hora que desea reservar. ) </p>
                    </div>
                </div>
            </div>
            <div class="row g-4 calendar_container text-center">
                <div class="col-10 col-lg-5 root">
                    <div class="calendar" id="calendar">

                    </div>
                </div>
                <div class="col-10 col-lg-5 root">
                    <div class="calendar calendar__time">
                        <div class="row">
                            <h5 class="calendar__time__title">Hora:</h5>
                        </div>
                        <div class="row mt-2 grid__timeOfDay">
                                <div class="col-12 timeOfDay">08:00 a.m</div>
                                <div class="col-12 timeOfDay">09:00 a.m</div>
                                <div class="col-12 timeOfDay">10:00 a.m</div>
                                <div class="col-12 timeOfDay">11:00 a.m</div>                             
                            
                                <div class="col-12 timeOfDay">01:00 p.m</div>
                                <div class="col-12 timeOfDay">02:00 p.m</div>
                                <div class="col-12 timeOfDay">03:00 p.m</div>
                                <div class="col-12 timeOfDay">04:00 p.m</div>                           
                        </div>
                        <div class="row mt-5">
                            <a href="/reservations" class="btn btn-brand me-2">Reservar</a>
                        </div>
                    </div>                 
                </div>
            </div>
    </section>

    <!-- PORTFOLIO -->
    <section id="portfolio" class="section-padding border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Nuestro Portafolio</h1>
                        <div class="line"></div>
                        <p>Nos encanta crear experiencias para nuestros clientes, algunos de nuestros trabajos:</p>
                    </div>
                </div>
            </div>
            <div class="row g-4  gallery">
                <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
                    <div class="portfolio-item image-zoom">
                        <div class="image-zoom-wrapper">
                            <img src="/img/project-1.png" alt="">
                        </div>
                        <a href="/img/project-1.png" data-fancybox="gallery" class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="portfolio-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="/img/project-2.jpg" alt="">
                        </div>
                        <a href="/img/project-2.jpg" data-fancybox="gallery" class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
                    <div class="portfolio-item image-zoom">
                        <div class="image-zoom-wrapper">
                            <img src="/img/project-3.jpg" alt="">
                        </div>
                        <a href="/img/project-3.jpg" data-fancybox="gallery" class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="portfolio-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="/img/project-4.jpg" alt="">
                        </div>
                        <a href="/img/project-4.jpg" data-fancybox="gallery" class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
                    <div class="portfolio-item image-zoom">
                        <div class="image-zoom-wrapper">
                            <img src="/img/project-5.jpg" alt="">
                        </div>
                        <a href="/img/project-5.jpg" data-fancybox="gallery" class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="portfolio-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="/img/project-6.png" alt="">
                        </div>
                        <a href="/img/project-6.png" data-fancybox="gallery" class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- REVIEW -->
    <section id="reviews" class="section-padding bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Testimonios</h1>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum animi
                                rerum ipsam impedit dicta voluptatem.</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="/img/avatar-1.jpg" alt="">
                            <div class="ms-3">
                                <h5>Dianne Russell</h5>
                                <small>Cliente</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum animi
                                rerum ipsam impedit dicta voluptatem.</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="/img/avatar-2.jpg" alt="">
                            <div class="ms-3">
                                <h5>Dianne Russell</h5>
                                <small>Cliente</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
                    <div class="review">
                        <div class="review-head p-4 bg-white theme-shadow">
                            <div class="text-warning">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum animi
                                rerum ipsam impedit dicta voluptatem.</p>
                        </div>
                        <div class="review-person mt-4 d-flex align-items-center">
                            <img class="rounded-circle" src="/img/avatar-3.jpg" alt="">
                            <div class="ms-3">
                                <h5>Dianne Russell</h5>
                                <small>Cliente</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer class="bg-dark">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-3 col-sm-6 mx-auto">
                        <a href="#"><img src="/img/logo-circulo.png" alt=""></a>
                        <div class="social-icons mx-auto">
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-instagram-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-dribbble-fill"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">SERVICES</h5>
                        <div class="line"></div>
                        <ul>
                            <li><a href="#">Barberia</a></li>
                            <li><a href="#">Barberia</a></li>
                            <li><a href="#">Barberia</a></li>
                            <li><a href="#">Barberia</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">NOSOTROS</h5>
                        <div class="line"></div>
                        <ul>
                            <li> <a href="#about">Nosotros</a> </li>
                            <li> <a href="#team">Equipo</a> </li>
                            <li> <a href="#services">Servicios</a> </li>
                            <li> <a href="#calendar">Calendario</a> </li>
                            <li> <a href="#portfolio">Portfolio</a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">CONTACTO</h5>
                        <div class="line"></div>
                        <ul>
                            <li>Bogotá, Colombia</li>
                            <li>Cr13 # 18-45</li>
                            <li>(+57) 32093622334</li>
                            <li>barbershopb&k@gmail.com</li>
                            <li>www.barbershopb&k.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row g-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">© Copyright Barber Shop. All Rights Reserved</p>
                    </div>
                    <div class="col-auto">
                        <p class="mb-0">Designed with 💜 By <a
                                href="https://www.youtube.com/@yeiimaccdev">YeiiMaccDev</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</main>

{{!-- SCRIPTS --}}
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

  {{!-- SCRIPTS ANIMACIONES --}}
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

  {{!-- SCRIPTS MOMENT.JS --}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>

  <script src="/js/script-animation.js"></script>
  <script src="/js/calendar.js"></script>

 <script type="text/javascript">

  let calendar = new Calendar('calendar');

  calendar.getElement().addEventListener('change', e => {
    console.log(calendar.value().format('YYYY-MM-DD') );
  });



  const timesOfDay = document.querySelectorAll('.timeOfDay');
  const validateTime = (time) => {
    const timeActive = document.querySelector('.time-active');
    if (timeActive) {
      timeActive.classList.remove('time-active');
    }
    time.classList.toggle('time-active');  
  }
  
  timesOfDay.forEach(time => {
    time.addEventListener('click', () => {
      validateTime(time);
    })
  });

</script>